

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: #483434;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #FFF3E4;
    overflow: hidden;
}

h1{
    background-color: #6B4F4F;
}
section{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
article{
    display: flex;
    margin: 4em auto;
    flex-direction: row;
    align-content: space-between;
}
span{
    background-color: #6B4F4F;
    font-size: 1.3em;
    font-weight: 600;
}
.button{
    background-color: rgb(255, 255, 255, 0.1);
    background-size: cover;

    height: 100px;
    width: 100px;
    outline: none;

    margin: 0 1em;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-name: bhover-out;
}

.button:hover{
    animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-name: bhover;
}
 
@keyframes bhover{
    from{
        transform: scale(1);
        
    }

    to{
        transform: scale(1.1);
    }
}
@keyframes bhover-out {
    from{
        transform: scale(1.1);
    }
    
    to{
        transform: scale(1);
    }
}